<article id="pgResults">
    <h1>Thank you for your input</h1>
    <p>Here is the information you provided:</p>
    <section id="cnForm">
        <div class="fmGp">
            <div class="fmLbl">email:</div>
            <div class="fmInp">{{inpForm.email}}</div>
        </div>
        <div class="fmGp">
            <div class="fmLbl">Your name:</div>
            <div class="fmInp">{{inpForm.userName}}</div>
        </div>    
        <div class="fmGp">
            <div class="fmLbl">Your age:</div>
            <div class="fmInp">{{inpForm.age}}</div>
        </div>
        <div class="fmGp">
            <div class="fmLbl">Your gender:</div>
            <div class="fmInp">{{inpForm.gender}}</div>
        </div>
        <div class="fmGp">
            <div class="fmLbl">Employer name:</div>
            <div class="fmInp">{{inpForm.employer}}</div>
        </div>
        <div class="fmGp">
            <div class="fmLbl">Business Location:</div>
            <div class="fmInp">{{inpForm.empState}}</div>
        </div>
        <div class="fmGp">
            <div class="fmLbl">Work Duration:</div>
            <div class="fmInp">{{params.getRngDuration.[inpForm.empDuration]}}</div>
        </div>
        <div class="fmGp">
            <div class="fmLbl">Salary Range:</div>
            <div class="fmInp">{{inpForm.empSalary}}</div>
        </div>
        <div class="fmGp">
            <div class="fmLbl">Your race/ethnicity:</div>
            <div class="fmInp">{{inpForm.ethnicity}}</div>
        </div>
    </section>
</article>
